html{
    min-height: 100%;
}

body {
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main, section.grunderEtt, section.grunderTwo, section.grunderThree, section.grunderFour {
    border: 10px solid orange;
    padding: 10px;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    min-height: 100px;
}

main, section.grunderEtt, section.grunderTwo, section.grunderThree, section.grunderFour, a {
    text-decoration: none;
    color: red;
    font-size: 20px;
}

a:hover {
    font-weight: bold;
    color: white;
    cursor: pointer; /* standard value */
}

section.grunderEtt, section.grunderTwo, section.grunderThree, section.grunderFour {
    flex: 1;
}