@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: #8b8b8b;

    width: 100%;

    height: auto;
}

header {
    width:100%;
    height:250px;

    background-color: #f2f2f2;

    justify-content: space-around;
    align-items: center;
}

header h1{
    font-size: 42px;

    font-weight: bold;
    
    text-transform: uppercase;

    color: #707070;

    flex: 1;
}

.span-logo {
    color: #007af3;
}

nav {
    flex: 3;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
    justify-content: space-evenly;

    width: 70%;

    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
}

main {
    width: 100%;
    min-height: 1000px;
}

.mainleft {
    flex: 1;
    background-color: #636926;
}

.maincenter {
    flex: 4;
    background-color: red;
}


.mainright {
    flex: 1;
    background-color: #636926;
}

footer {
    width: 100%;
    height: 250px;

    background-color: #3e4045;
}

/* Utility classes */

.add-flex {
    display: flex;
}

.active {
    font-weight: bold;
}