@charset "utf-8";

html {
    min-height: 100%;
}

body {
    background-color: gray;
}

header.ifElse {
    border: 1px solid black;
}

main.teachPart {
    border: 1px solid black;
}

footer.picPlace {
    border: 1px solid black;
}


header.forMethod {
    border: 1px solid black;
}

main.teachShowpart {
    border: 1px solid black;
}

header.functionMethod {
    border: 1px solid black;
}

main.teachFunction {
    border: 1px solid black;
}