@charset "utf-8";

html {
    min-height: 100%;
}

body {
    background-color: gray;
}
header {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, section.smolLeftbox {
    border: 1px solid black;
}

header, section.largeMiddlebox {
    border: 1px solid black;
}

header, section.smolRightbox {
    border: 1px solid black;
}
